<div>
    <h2>
        <span>Food Items</span>
        <button class="btn btn-primary float-right jh-create-entity create-food-item" [routerLink]="['/', { outlets: { popup: ['food-item-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Food Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="foodItems">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Created</span></th>
            <th><span>Expiration</span></th>
            <th><span>User</span></th>
            <th><span>Category</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let foodItem of foodItems ;trackBy: trackId">
                <td><a [routerLink]="['../food-item', foodItem.id ]">{{foodItem.id}}</a></td>
                <td>{{foodItem.name}}</td>
                <td>{{foodItem.created | date:'medium'}}</td>
                <td>{{foodItem.expiration | date:'medium'}}</td>
                <td>
                    {{foodItem.user?.login}}
                </td>
                <td>
                    <div *ngIf="foodItem.category">
                        <a [routerLink]="['../category', foodItem.category?.id ]" >{{foodItem.category?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../food-item', foodItem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'food-item/'+ foodItem.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'food-item/'+ foodItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
